@charset "ISO-8859-1";

.page-login {
	background-color: white !important;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Raleway, Arial, sans-serif;
}

.page-login .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.page-login .screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5C5696;
  border-radius: 15px;
}

.page-login .screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.page-login .screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.page-login .screen_background_shape {
  transform: rotate(45deg);
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.page-login .screen_background_shape1 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.page-login .screen_background_shape2 {
  height: 220px;
  width: 220px;
  background: #6C63AC;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.page-login .screen_background_shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5D54A4, #6A679E);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.page-login .screen_background_shape4 {
  height: 400px;
  width: 200px;
  background: #7E7BB9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.page-login #login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.page-login .login__field {
  padding: 20px 0px;
  position: relative;
}

.page-login .login__icon {
  position: absolute;
  top: 30px;
  color: #7875B5;
}

.page-login .login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: all 0.3s ease;
}

.page-login .login__input:active,
.page-login .login__input:focus,
.page-login .login__input:hover {
  outline: none;
  border-bottom-color: #6A679E;
  transform: scale(1.05);
}

.page-login .login__submit {
  background: #6A679E;
  font-size: 16px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-login .login__submit:active,
.page-login .login__submit:focus,
.page-login .login__submit:hover {
  border-color: #5D54A4;
  background-color: #5D54A4;
  outline: none;
}

.page-login .button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5;
}

.page-login .social-login {
  position: absolute;
  height: 50px;
  width: 100px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.page-login .social-login a {
  color: #fff;
  font-size: 18px;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.page-login .social-login a:hover {
  color: #D4D3E8;
}

@media (max-width: 768px) {
  .page-login .screen {
    width: 100%;
    height: auto;
    box-shadow: none;
  }
  .page-login #login {
    padding-top: 50px;
    width: 90%;
  }
  .page-login .social-login {
    width: 100%;
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px;
  }
  
  
  .error-message {
  color: #ff0000; /* Color rojo para indicar error */
  background-color: #f8d7da; /* Fondo ligeramente rojo */
  border: 1px solid #f5c2c7; /* Borde ligeramente mas oscuro */
  padding: 10px; /* Espaciado interno */
  margin: 10px 0; /* Espaciado externo */
  border-radius: 5px; /* Bordes redondeados */
  text-align: center; /* Alinear el texto al centro */
  font-weight: bold; /* Texto en negrita */
  }
}

/*               otra pagina               */

* {
  box-sizing: border-box;
 	
 }

body{       
  margin: 0;
  min-height: 200vh;
  font-family: Helvetica, Verdana, sans-serif;
  
}

.cl {
	background-color: #252525;
 	color: white;
}

nav {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px 30px 20px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 16px 50px 30px 50px;
}
nav.mask {
  top: 10px;
  mask-image: linear-gradient(black 70%, transparent);
  -webkit-mask-image: linear-gradient(black 70%, transparent);
}

nav.is-hidden {
  transform: translateY(-100%);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.list {
  list-style-type: none;
  margin-left: auto;
  display: flex;
}
.list li {
  margin-left: 20px;
}

.filtrar_cuentas > label {
	text-align: left;
	padding-top: 8px;
}

.filtrar_cuentas {
	display: grid;
	grid-template-columns: 15% 81%;
	margin-top: 10px;
}

.filtrar_cuentas > select {
	text-transform: uppercase;
}

@arrowColor: #ffcc00;
@arrow: escape('@{arrowColor}');

select {  
  background-color:#1F99CD;
  background-image: url(~"data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;
  
  // disable default appearance
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand { display: none };
}

/* remove dotted firefox border*/
@-moz-document url-prefix() {
  select {
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #ffffff;
  }
}

/*Codepen Layout*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
select {
    margin: 50px auto 0;
	display:block;
}


.transferencia {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.tr1 {
	grid-area: 1 / 1 / 2 / 2;
	margin: 40px;
	padding: 40px;
	text-align: center;
}
.tr2 {
	grid-area: 1 / 2 / 2 / 3;
	margin: 40px;
	padding: 40px;
	text-transform: uppercase;
	text-align: center;
}

.tr1, .tr2 {
    position: relative; /* Necesario para el pseudo-elemento */
    background: linear-gradient(45deg, rgba(255, 165, 0, 0.5), rgba(255, 140, 0, 0.5)); /* Degradado de tonos anaranjados con transparencia */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(255, 140, 0, 0.3); /* Sombra */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.tr1::before, .tr2::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: linear-gradient(45deg, rgba(255, 165, 0, 0.5), rgba(255, 140, 0, 0.5), rgba(255, 255, 255, 0)); /* Degradado de tonos anaranjados con transparencia */
    border-radius: 20px; /* Bordes más redondeados para el pseudo-elemento */
    filter: blur(20px); /* Efecto de desenfoque */
    z-index: -1; /* Coloca el pseudo-elemento detrás de la caja */
}

.tr3 {
	grid-area: 2 / 1 / 3 / 2;
	margin: 40px;
	padding: 40px;
}
.tr4 {
	grid-area: 2 / 2 / 3 / 3;
	margin: 40px;
	padding: 40px;
}

.tr1,.tr2 p {
	font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.transferencia .tr1 input[type="text"],input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}
.transferencia .tr2 input[type="text"],input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.transferencia .tr1 label {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    color: white;
    margin-bottom: 5px;
}

.transferencia .tr2 .filtrar_cuentas  label {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    color: white;
    margin-bottom: 5px;
}

.btn-aceptar {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-aceptar:hover {
    background-color: #45a049; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-aceptar:active {
    background-color: #3e8e41; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.prestamo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 20px;
}

.pedir_prestamo {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
}
.lista_prestamo { 
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
	margin: 0px 20px;
}

table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: orange;
        color: white;
    }
    .pagination {
        margin-top: 20px;
    }
    .pagination a {
        margin: 0 2px;
        padding: 8px 16px;
        text-decoration: none;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        color: black;
    }
    .pagination a.active {
        background-color: #4CAF50;
        color: white;
    }
    
.container-cperfil {
display: grid;
width:auto;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
margin: 20px;
font-family: Helvetica, Verdana, sans-serif;
}

.perfil { grid-area: 1 / 2 / 2 / 4;
	background-color: #F17C00;
	display: grid;
	text-align:center;
	padding: 20px;
	place-items: center;
	}
.btn-c1 { grid-area: 1 / 1 / 2 / 2;}

.valores {
	grid-area: 1 / 4 / 2 / 5;
	display: flex;
    align-items: center;
}

.btn-c1{
	width: 24rem;
	  border-radius: 10px;
	  overflow: hidden;
	  cursor: pointer;
	  position: relative;
	  color: $color-primary-white;
	  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
	  display: flex;
	  flex-direction: column;
}

  .btn-c1 p{
    inset: auto auto 80px 30px;
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }

  
.btn-c1:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }
  
  .btn-c1:hover p {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }



.contenedor-t {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
	width: 100%;
	background: url(../img/bg-tarjeta/bg-tarjeta-02.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 50px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
	background: url(../img/bg-tarjeta/bg-tarjeta-02.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.trasera .barra-magnetica {
	height: 40px;
	background: #000;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
}

.trasera .datos {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	height: 40px;
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
	line-height: 40px;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #000;
	font-size: 30px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	background: #fff;
	height: 40px;
	color: #000;
	padding: 10px;
	text-align: center;
}

.trasera .leyenda {
	font-size: 14px;
	line-height: 24px;
}

.trasera .link-banco {
	font-size: 14px;
	color: #fff;
}

.btn-c1:hover, .btn-c2:hover, .btn-c3:hover {
	background-color: #0080c0;
	color: #252525;
}

.montos,
	.montos > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 10px;
}

.montos > .monto-mensual {
	display: grid;
	grid-template-columns: 40% 60%;
	text-align: left;
}

.montos > .monto-total {
	display: grid;
	grid-template-columns: 30% 70%;
	text-align: left;
}

.nuevo-prestamo > .inputs {
	display: grid;
	grid-template-columns: 5% 45% 5% 45%;
	gap: 1em;
}

.nuevo-prestamo > .inputs > label {
	padding-top: 20px;
}

.btn-aceptar.btn-solicitar-prestamo {
	padding: 1rem;
	min-width: 80%;
}

.exito-menssage {
	background-color: green;
	color: white;
	padding: 20px;
	width: 100%;
	display:block;
}

.tabla-prestamos > thead > tr:first-child > th {
	background-color: #b97800;
	text-align: center;
	text-transform: uppercase;
}

.btn-filtrar-prestamos {
	text-align: center;
}

button[name="aceptar-f"] {
	background-color: green;
	padding: 20px;
	font-size:22px;
	font-family: 'Liu Jian Mao Cao', cursive;
}

button[name="remover-f"] {
	background-color: red;
	padding: 20px;
	font-size:22px;
	font-family: 'Liu Jian Mao Cao', cursive;
	margin-left:30px;
}

.adm-cuentas {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 800px;
	background: red;
	border: solid white 3px;
	border-radius: 30px;
	margin: 100px;
	padding: 20px;
	text-align:center;
	animation: colorChange 10s infinite;
}

.adm-cuentas div {
	margin: 10px 0px;
}
@keyframes colorChange {
     0% { background-color: rgba(255, 165, 0, 0.3); }   /* Naranja */
    33% { background-color: rgba(255, 69, 0, 0.3); }   /* Rojo Naranja */
    66% { background-color: rgba(255, 215, 0, 0.3); }  /* Dorado */
    100% { background-color: rgba(255, 165, 0, 0.3); } /* Naranja */
  }

.c-cuenta {
	padding: 20px;
	width: 150px;
	margin: 20px auto;
}
select[name="cuenta"] {
	margin: 0;
}
.estadisticas {
	font-size: 40px;
	text-align: center;
	font-family: 'Playfair Display', serif;
}